<h1>Create coupon</h1>
<h3> Please fill in desired coupon information below </h3>
<form action="" method="post">
  <input type="text" name="title" value="">
  <input type="text" name="description" value="">
  <input type="text" name="product" value="">
  <input type="text" name="discount" value="">
  <input type="text" name="expiration" value="">
  <input type="submit" value="Create Coupon">
</form>
